# CMPE403 Data Science & Analytics
# Chapter 1: Python Fundementals

### This is a notebook, contains three types of cells: code, markdown, raw
* Code cell: Python code
* Markdown cell: explainations and taking notes
    * https://github.com/adam-p/markdown-here/wiki/Markdown-Cheatsheet
* Raw cell: not evaluated by the notebook
    * can be used to disable a cell
    * sometimes can be useful for HTML and LaTeX output
#### Press shift + enter to execute a cell

In [ ]:
25 + 10

In [ ]:
5 - 10

In [ ]:
5 * 2

In [ ]:
5 / 2

Modulus

In [ ]:
5 % 2

Power

In [ ]:
5 ** 2

Floor division

In [ ]:
5 // 2

Some built-in functions

In [ ]:
abs(-1)

In [ ]:
max(5, 4)

In [ ]:
min(5, 4)

##### Closest integer

In [ ]:
round(3.7)

In [ ]:
round(3.2)

#### Getting documentataion and help
#### When parantesis of the function is highlighted, press shift + tab to see documentation

In [ ]:
#max()
#abs()

In [ ]:
max?

In [ ]:
help(max)

Comments

In [ ]:
# Single line comment
# Another single line comment

"""
Multiline comment
anoher comment
...
"""

'''
Another multiline comment
'''

#### Variables and assignment
* variables are the most basic memory in programming

In [ ]:
num = 22
num

In [ ]:
# Increment num variable by 1
num = num + 1
num

In [ ]:
# Short 
num += 1
print(num)

In [ ]:
num_a = 15.9
num_b = -23.3

num_a
num_b

### Important Note: Order matters for assignment

In [ ]:
# code below is not correct
# -3 = num_a

#### Multiple assignments

In [ ]:
num_c = num_d = 54.7

#### By default notebook prints the last statement
##### print() function is required for printing each variable

In [ ]:
print(num_a)
print(num_b)
print(num_c)
print(num_d)

### Strings

In [ ]:
string_ex = 'Hello world'
string_ex

#### In Python you can use both double quotes or single quotes to create a string

In [ ]:
name = 'John'
surname = "Doe"

In [ ]:
sentence = 'The car doesn\'t work'
# Both double and single quotes can be used in a string
sentence = "The car doesn't work"

#### String concat

In [ ]:
full_name = name + ' ' + surname
full_name

#### Note: Mind the spaces while working on strings
* space is also a character

In [ ]:
full_name = name + '      ' + surname
full_name

#### Formatted string (f-string)
* You need Python 3.6+ (version 3.6 or higher)

In [ ]:
full_name = f'{name} {surname}'
full_name

In [ ]:
age = 35
f'{name} {surname} is {age} years old'

In [ ]:
# Default 
print('Hi', full_name)
# f-string
print(f'Hi {full_name}')

#### Floating point numbers with formatted string

In [ ]:
floating_point_num = 0.3582109977133674
floating_point_num

In [ ]:
# Show only last 4 digits after decimal
print(f'Formatted: {floating_point_num:.4f}')

#### Splitting the string

In [ ]:
# By default splits by spaces
'Walking in the streets of New York'.split()

In [ ]:
# Split by -
'Walking-in-the-streets-of-New-York'.split('-')

#### Replace

In [ ]:
# Replace - with a space
'Walking-in-the-streets-of-New-York'.replace('-', ' ')

#### Repeating a string

In [ ]:
'Walking ' * 5

### Data types
* Integer
* Floating-Point
* String
* Complex
* Boolean

In [ ]:
type(43.553)

In [ ]:
print(type(10))
print(type(10.423))
print(type('this is a string'))
print(type(10 + 4j))
print(type(True))

Type Conversion

In [ ]:
print(type(int('34')))
print(type(str(5532.22)))

#### Jupyter magic commands start with %
##### see more: https://ipython.readthedocs.io/en/stable/interactive/magics.html

In [ ]:
%whos

## Operator Precedence

1. Parentheses ( )
2. Exponent **
3. Multiplication, Division, Floor division, Modulus *, /, //, %
4. Addition, Subtraction +, -

In [ ]:
number1 = 4
number2 = 2
result = ((number1+number2)**2)/4
result

### Booleans and Logic Operations
* In Python, booleans either in True or False (with capital T and F)
* So true and false are invalid

In [ ]:
a = True
b = True
c = False
d = False

#### AND truth table
* True and True -> True
* True and False -> False
* False and True -> False
* False and False -> False

In [ ]:
# AND
print(a and b)
print(a and c)
print(c and a)
print(c and d)

#### OR truth table
* True or True -> True
* True or False -> True
* False or True -> True
* False or False -> False

In [ ]:
# OR
print(a or b)
print(a or c)
print(c or a)
print(c or d)

#### NOT truth table
##### Note that NOT requires only one operand
* True -> False
* False -> True

In [ ]:
not a

In [ ]:
not b

In [ ]:
not((a and b) or (c or d))

## Conditionals

* Code in block is run if a certain condition is met
* Python uses indentation to seperate different code blocks
* By default 4 spaces (or tab) is used

In [ ]:
its_raining = False

if its_raining:
    # A block of code
    print("It's raining!")
else:
    # Another block
    print("It's not raining.")

In [ ]:
#variable = 355
#variable = 543.22222
variable = 'hello world'
#variable = 55 + 49j
#variable = False

if isinstance(variable, bool):
    print(variable, 'is an bool')
elif isinstance(variable, int):
    print(variable, 'is a integer')
elif isinstance(variable, float):
    print(variable, 'is a float')
elif isinstance(variable, str):
    print(variable, 'is a string')
elif isinstance(variable, complex):
    print(variable, 'is a complex number')
else:
    print(variable, 'is unknown type')

* A == B (A equal to B)
* A != B (A not equal to B)
* A > B  (A is greater than B)
* A < B (A is less than B)
* A >= B (A is greater than or equal to B)
* A <= B (A is less than or equal to B)

In [ ]:
a = 85

if a >= 85:
    print('AA Grade')
elif a >= 80 and a < 85:
    print('BA Grade')
elif a >= 75 and a < 80:
    print('BB Grade')
elif a >= 70 and a < 75:
    print('CB Grade')
else:
    # Less than 70
    print('Below Average')

## Loops

In [ ]:
loop_index = 0

while loop_index < 10:
    print('Look index is at:', loop_index)
    loop_index += 1

### Loops with range() function
* range() is what we call a *generator* in Python
* each time loop starts, range() will return a new number

In [ ]:
# idx starts from 0 goes until 10
# Note that 10 is not included
for idx in range(10):
    print('Look index is at:', idx)

In [ ]:
# Start from 1 (instead of 0)
# Increment by 2
for idx in range(1, 10, 2):
    print('Look index is at:', idx)

In [ ]:
for idx in range(10):
    if idx % 2 == 0: # Even number
        continue # skips the loop iteration
    print('Look index is at:', idx)

In [ ]:
for idx in range(20):
    if idx >= 5:
        print('Breaking the loop')
        break
        
    print('Look index is at:', idx)

#### Example: Sum of number from 0 to 100 that is divisible by 7

In [ ]:
num_sum = 0

for number in range(100):
    if number % 7 == 0:
        num_sum += number
        
num_sum

## Functions
Code blocks that provide code reuse and organization

In [ ]:
def print_hello_world():
    print('hello world')
    
print_hello_world()

In [ ]:
def raise_to_power(number, power):
    return number ** power
    
# By default order of parameters is important
raise_to_power(4, 2)

In [ ]:
# Keyword arguments
# Order can be changed
raise_to_power(power=2, number=4)

In [ ]:
# parameters with default value
def say_hello(name='guest'):
    print(f'Hello, {name}!')
    
say_hello()
say_hello('Tom')

## Python Data Structures
### List
* Container for different data types
* Mutable
* Duplicates allowed
* Preserves order of elements

In [ ]:
l1 = [1, 2, 3, 4, 5, 6, 7, 8, 9, 10]
l1

In [ ]:
l1

In [ ]:
l2 = ['Linear', 'Quadtratic', 'Cubic', 'Poly']
l2

In [ ]:
# List with different data types: int, float, str, bool, complex
l3 = [1, 3.14, 'SVM', True, 3 + 4j]
l3

#### Length of the list

In [ ]:
len(l3)

#### Access the elements (data) inside lists by indexing
* In Python, indexes start from 0

In [ ]:
l_ex = [1, 'hello', 3.14, 'forth element']

In [ ]:
l_ex[0]

In [ ]:
l_ex[3]

In [ ]:
print(f'{l_ex[1]}, {l_ex[2]}')

In [ ]:
l1

#### Update elements

In [ ]:
l1[0] = -99
l1[5] = 55.22
l1

#### Negative indexes goes from end to start

In [ ]:
print(f'{l1[-1]}, {l1[-2]}')

In [ ]:
l4 = []
l4.append(100)
l4.append(255)
l4.append(20.22)
l4

In [ ]:
popped_value = l4.pop(0)
print(f'popped value: {popped_value}')
l4

#### List of lists

In [ ]:
# list_2d = [[1, 2, 3], [4, 5, 6], [7, 8, 9]]
# For readability, we can write like this
list_2d = [
    [1, 2, 3],
    [4, 5, 6],
    [7, 8, 9]
]

list_2d

### Cycle through a list
This is equvalent to for each loop

In [ ]:
for element in l1:
    print(element)

#### Loop two lists together with zip() 
* NOTE: zip() is not limited to lists, can be used with any other iterable

In [ ]:
names_list = ['Kolby Vico', 'Jenna Hayden', 'Navy Keighley', 'Jane Derrick']
ages_list = [51, 40, 35, 18]

for name, age in zip(names_list, ages_list):
    print(f'{name} is {age} years old')

#### Indexing with enemeration
* Starts from zero to length of the iterable
* Last is not included so range is from 0 to len(names_list)-1
* NOTE: enumerate() is not limited to lists, can be used with any other iterable

In [ ]:
for idx, name in enumerate(names_list):
    print(f'index: {idx}, name: {name}')

#### Enumeration is equivalent to this

In [ ]:
for idx, name in zip(range(len(names_list)), names_list):
    print(f'index: {idx}, name: {name}')

#### Check if an element is in the list

In [ ]:
# Note that it returns a bool value
2 in l1

### List comphrehension

In [ ]:
[x**2 for x in range(10)]

In [ ]:
l1 = []

for x in range(10):
    print(x**2)
    l1.append(x**2)

In [ ]:
l1

### Tuple
* Similar to lists but immutable (unchangeable after initiazation)
* Allows duplicates
* Preserves order of elements

In [ ]:
t1 = (1, 2, 3, 4, 5)
t1

In [ ]:
t2 = ('Istanbul', 'Ankara', 'Izmir', 'Canakkale')
t2

In [ ]:
t3 = (6700, 'John', False, -22.44, 1)
t3

#### Important note on single element tuple initialization

In [ ]:
# Not a tuple
t4 = (122) 
print(type(t4))

In [ ]:
# Tuple with one element
t4 = (122,)
print(type(t4))

### Convert tuple to list

In [ ]:
list_from_tuple = list((1, 2, 5, 10))
list_from_tuple

### Convert list to tuple

In [ ]:
tuple_from_list = tuple([6700, 'John', False, -22.44, 1])
tuple_from_list

### Slicing

l1[start:]          --> elements start through the rest of the list
l1[:stop]           --> elements from the beginning through stop-1
l1[start:stop]      --> elements start through stop-1
l1[:]               --> all of the elements
l1[start:stop:step] --> start through not past stop, by step (stop is not included)

In [ ]:
#      0    1    2    3    4    5    6    7    8    9
#    -10   -9   -8   -7   -6   -5   -4   -3   -2   -1
l1 = ['s', 't', 'r', 'a', 'w', 'b', 'e', 'r', 'r', 'y']
#l1 = [ 0,   1,   2,   3,   4,   5,   6,   7,   8,   9 ]

# From first until fourth
# (remember first one is at 0)
print('From first until fourth:')
print(l1[0:3])
# Or you can write
print(l1[:3])

# Elements from second to fifth
# (remember last one is not included)
print('Elements from second to fifth')
print(l1[1:5])

# Last element in the list
print('Last element in the list')
print(l1[-1])

# Lastest in the list
print('Lastest first in the list')
print(l1[-10])

# From beginning to end but steps with 2
print('From beginning to end but steps with 2')
print(l1[::2])

#### When step is negative, direction is reversed

In [ ]:
# Reverse a list
print('Reverse a list')
print(l1[::-1])

# Step by 2 but reversed
print('Step by 2 but reversed')
print(l1[::-2])

#### Dictionary
* Dictionaries are lists of key / value pairs
* Keys and values can use any data type
* Duplicate keys aren't allowed, duplice values are allowed

In [ ]:
d1 = {
    'name': 'James',
    'age': 55,
    'occupation': 'data scientist',
}

d1

#### Initialize dictionary from scratch

In [ ]:
d2 = {}
d2['name'] = 'Sarah'
d2['age'] = 34
d2['occupation'] = 'software engineer'
d2

In [ ]:
# Note that key 'name' already exists, so it is overwritten
d2['name'] = 'Allison'
d2

#### Another way to initialize dictionaries

In [ ]:
d3 = dict(name='Tiffany', age=22, occupation='database administrator')
d3

In [ ]:
print(f'All keys: {d3.keys()}')
print(f'All values: {d3.values()}')

In [ ]:
# Convert to lists 
print(f'All keys: {list(d3.keys())}')
print(f'All values: {list(d3.values())}')

#### By default keys are looped through

In [ ]:
for k in d3:
    print(k)

#### Looping through values

In [ ]:
for v in d3.values():
    print(v)

#### Looping through both keys and values

In [ ]:
for k, v in d3.items():
    print(f'Key: {k}')
    print(f'Value: {v}')
    print('*'*30)

### Example: Basic Database with Dictionaries

In [ ]:
database = [
    {
        'name': 'James',
        'age': 55,
        'occupation': 'data scientist',
    },
    {
        'name': 'Tiffany',
        'age': 42,
        'occupation': 'database administrator',
    },
    {
        'name': 'Sarah',
        'age': 23,
        'occupation': 'data analyst',
    }
]

database

In [ ]:
# change age if name is Tiffany
for database_item in database:
    if database_item['name'] == 'Tiffany':
        database_item['age'] = 30

In [ ]:
database

### Set
* Lists that are unordered
* Duplicates are not allowed (unique)
* Immutable
* Often useful for set theory (mathematics)

In [ ]:
# Syntax is similar to dictionary but no key-value pairs
s1 = {3, 5, -2, 33, 5, 3}
s1

#### Removing duplicates in lists with sets

In [ ]:
list_with_duplicates = [200, 200, 512, 232, -123, 33, 55, 512]
set_from_list = set(list_with_duplicates)
list_without_duplicates = list(set_from_list)

print(f'Original list: {list_with_duplicates}')
# Note that sets does not keep the order of the elements
print(f'List without duplicates: {list_without_duplicates}')

In [ ]:
l_temp = ['portakal', 'portakal', 'portakal', 'limon', 'elma']
set(l_temp) # unique

## Example: Running program that executes commands from user

In [ ]:
def execute_command(command):
    print(f'Executing command: {command}')

valid_commands = ('read data', 'train', 'test')
    
def run_application():
    # Infinite loop (running program)
    while True:
        # Read input (as string)
        # Blocks the program until enter is pressed
        input_command = input('>>> ')
        # Check if user wants to stop the program
        if input_command == 'quit':
            print('Exiting loop')
            break

        # Check if input command is incorrect
        if input_command not in valid_commands:
            print(f'Input command {input_command} is not valid!')
            continue

        # If everything is normal, execute the command
        execute_command(input_command)

### NOTE: The example above contains an infinite loop that can block the execution of the whole notebook. Therefore, it is commented out. 
#### Uncomment below to run the example

In [ ]:
#run_application()

## Another Example: Ordinal Encoder
* Map string classnames into integers
* Each classname should only map to single integer (unique)

In [ ]:
# Classnames are from Iris dataset
class_names = ('setosa', 'versicolor', 'virginica')

class_to_int = {}
mapping_int = 0

# Loop trough the classnames
for class_name in class_names:
    # If class already exits, skip it
    if class_name not in class_to_int.keys():
        # If not, create a new key-value pair
        class_to_int[class_name] = mapping_int
        # Increase mapping integer by one to map the next one
        mapping_int += 1
        
class_to_int

### Example with duplicates
* Duplicates should be avoided in ordinal encoding

In [ ]:
# Assume there are duplicates in the classnames
class_names = ('car', 'car', 'truck', 'ship', 'bicycle', 'car', 'bicycle')

class_to_int = {}
mapping_int = 0

# Loop trough the classnames
for class_name in class_names:
    # If class already exits, skip it
    if class_name not in class_to_int.keys():
        # If not, create a new key-value pair
        class_to_int[class_name] = mapping_int
        # Increase mapping integer by one to map the next one
        mapping_int += 1
        
class_to_int

## File I/O

In [ ]:
file = open('example_text_file.txt', 'r')

# Loop through each line in file
for line in file:
    print(line)

file.close()

In [ ]:
with open('example_text_file.txt', 'r') as file:
    print(file.read())

In [ ]:
# Note that this overwrites any previous data in the file
with open('example_text_file2.txt', 'w') as file:
    # \n is for addig a newline
    file.write('first line is written \n')
    file.write('second line is written \n')

In [ ]:
# Append to the end of the file
with open('example_text_file2.txt', 'a') as file:
    file.write('third line is written \n')

# Object Oriented Programming (OOP)
* OOP is a programming paradigm that encapsulate data and behavior
* In Python, everything is an object, and you can create your own objects with classes
* A class is a blueprint for creating objects. 
* Objects are instances of classes. 
* Think of a class as a template and an object as an instance of that template.
* In OOP, class functions are called "methods" and variables are called "attributes" (or "fields")

In [ ]:
class Car:
    # __init__ method, which is a special method that gets called when an object is created
    # This method initializes the attributes of the object (make, model, and year)
    def __init__(self, make, model, year):
        # Attributes
        self.make = make
        self.model = model
        self.year = year
        
    def get_model(self):
        return self.model

    def set_model(self, yeni_deger):
        self.model = yeni_deger
    
    # Methods
    def display_info(self):
        print(f'{self.year} {self.make} {self.model}')

### Creating Instances (Objects)

In [ ]:
car1 = Car('Fiat', 'Doblo', 2022)
car2 = Car('Honda', 'Accord', 2021)

car1.display_info()
car2.display_info()

## Inheritance

In [ ]:
class ElectricCar(Car):
    def __init__(self, make, model, year, battery_capacity):
        # Call the constructor of the parent class (Car)
        super().__init__(make, model, year)
        self.battery_capacity = battery_capacity

In [ ]:
electric_car = ElectricCar('Tesla', 'Model S', 2023, 100)

electric_car.display_info()

### with Override
* Redefine (override) the previously defined functions in parent class

In [ ]:
class ElectricCar(Car):
    def __init__(self, make, model, year, battery_capacity):
        # Call the constructor of the parent class (Car)
        super().__init__(make, model, year)
        self.battery_capacity = battery_capacity

    # INHERETED FROM CAR CLASS
    def display_info(self):
        # Override the display_info method to include battery capacity
        print(f'{self.year} {self.make} {self.model} (Electric), Battery Capacity: {self.battery_capacity} kWh')

In [ ]:
electric_car = ElectricCar('Tesla', 'Model S', 2023, 100)

electric_car.display_info()